.cover__link {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1184px;
  height: 100%;
  z-index: 2;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
