.photo-grid__list {
  margin: 0 auto 0;
  padding: 0;
  width: calc(100% - 48px * 2);
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
}
@media (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}
@media (max-width: 850px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 24px * 2);
    gap: 16px;
  }
}
@media (max-width: 425px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    width: calc(100% - 16px * 2);
    gap: 12px;
  }
}
