.page {
  background-color: #2a2c2f;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

/* .header__lang-links {
} */

.header__lang-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #fff;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lead__title {
  max-width: 720px;
  margin: 0 0 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0 0 64px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image-container {
  margin: 0;
  position: relative;
}

.lead__image {
  width: 100%;
  max-width: 980px;
  margin-bottom: 8px;
  object-fit: cover;
}

.lead__path {
  width: 95%;
  position: absolute;
  top: 14%;
  left: 2%;
  fill: white;
}

.lead__path:hover {
  fill: royalblue;
}

.lead__caption {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  padding-top: 92px;
  min-height: 400px;
}

.intro__article {
  margin: 0 auto;
  max-width: 980px;
}

.intro__title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__text {
  max-width: 690px;
  margin: 40px 0 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
}

.intro__list-item {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.intro__bold {
  font-weight: 700;
}

.photo-grid {
  padding-top: 92px;
}

.photo-grid__list {
  margin: 0 auto 0;
  padding: 0;
  width: calc(100% - 48px * 2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  list-style: none;
}

.photo-grid__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  padding-top: 92px;
  padding-bottom: 92px;
}

.places__place {
  max-width: 980px;
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: fit-content(460px) minmax(40%, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  justify-items: start;
}

.places__place:first-child {
  margin-top: 0;
}

.places__title {
  margin: 0;
  align-self: end;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.places__website {
  align-self: end;
}

.places__url-heading {
  margin: 0 0 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaaaaa;
}

.places__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #ffffff;
}

.places__link:hover {
  opacity: 0.8;
}

.places__image {
  width: 100%;
  object-fit: cover;
}

/* .places__text {
} */

.places__paragraph {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph:nth-child(2) {
  margin-top: 26px;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover__text {
  position: absolute;
}

.cover__title {
  margin: 0;
  max-width: 560px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cover__subtitle {
  margin: 32px auto 0;
  max-width: 360px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cover__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover__link:hover ~ .cover__overlay {
  opacity: 0.8;
}

.cover__background {
  width: 100%;
  max-width: 1184px;
  object-fit: cover;
}

.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

/* .footer__menu {
} */

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__menu-item {
  list-style: none;
  margin-left: 18px;
}

.footer__menu-item:first-child {
  margin-left: 0;
}

.footer__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__image {
    max-width: 930px;
  }

  .intro__article {
    width: calc(100% - 48px * 2);
  }

  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .places__place {
    width: calc(100% - 48px * 2);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }
}

@media (max-width: 950px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 850px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .intro {
    padding-top: 88px;
  }

  .intro__article {
    width: calc(100% - 24px * 2);
  }

  .photo-grid {
    padding-top: 88px;
  }

  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 24px * 2);
    gap: 16px;
  }

  .places {
    padding-top: 88px;
    padding-bottom: 90px;
  }

  .places__place {
    width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    margin-top: 73px;
  }

  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }

  .footer {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 680px) {
  .header {
    padding: 16px 16px 0;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .intro {
    padding-top: 64px;
  }

  .intro__article {
    width: calc(100% - 16px * 2);
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .photo-grid {
    padding-top: 64px;
  }

  .places {
    padding-top: 64px;
    padding-bottom: 66px;
  }

  .places__place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    width: 100%;
    margin-top: 50px;
  }

  .places__title {
    margin-left: 16px;
    font-size: 32px;
    line-height: 1.09;
  }

  .places__website {
    margin-left: 16px;
  }

  .places__text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .places__image {
    width: calc(100% - 24px * 2);
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
  }

  .footer {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }

  .footer__menu-item {
    margin-left: 0;
  }

  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}

@media (max-width: 425px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    width: calc(100% - 16px * 2);
    gap: 12px;
  }

  .places__image {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
