.lead__subtitle {
  max-width: 640px;
  margin: 0 0 64px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
      }
}
@media (max-width: 680px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 40px;
      }
}