.intro__article {
  margin: 0 auto;
  max-width: 980px;
}
@media (max-width: 1024px) {
    .intro__article {
        width: calc(100% - 48px * 2);
      }
}
@media (max-width: 850px) {
    .intro__article {
        width: calc(100% - 24px * 2);
      }
}
@media (max-width: 680px) {
    .intro__article {
        width: calc(100% - 16px * 2);
      }
}